.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.path {
  animation: draw 30s infinite;
  animation-timing-function: linear;
}

@keyframes draw {
  0% {
  }
  50% {
    stroke-dashoffset: 0;
    stroke-opacity: 1;
  }
}

.zoom-button {
  background-color: black;
  width: 50px;
  color: white;
  border-radius: 1em;
  border-color: gray;
  border-width: 2px;
  margin-top: 5px;
}

.map-container > div > div {
  overflow: visible !important;
}

.zoom-container {
  position: fixed;
  right: 5px;
  top: 5px;
  display: block !important;
}