@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

body {
  background-color:  black;
  height: 100%;
  overflow: hidden;
}

/* unvisited link */
a:link {
  color: #1a0dab;
}

/* visited link */
a:visited {
  color: #681da8;
}

/* mouse over link */
a:hover {
  text-decoration: underline;
}

/* selected link */
a:active {
  color: lightblue;
}

.root {
  height: 100%;
}
